html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{
    line-height:1; color: #E1E1E1;font-size: 18px; font-family: 'PT Sans', sans-serif;
    background-color: #1A1A1A;
    align-items: center;
}
button{
    padding: 0px; 
    background-color: transparent;
    color: #FFFFFF;
    border: none;
}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a {color: #E1E1E1;text-decoration: none; /* no underline */}
a:hover{
    cursor: pointer;
}
.header-mainpage{
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
}
input[type=button]{
    border: 2px solid #F4B22F;
    background: transparent;
    color: #E1E1E1;
    border-radius: 10px;
}
input:hover{
    cursor: pointer;
}
.container{
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
}
header>.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.header__container{
    width: 100%;
    display: flex;
    align-items: center;
    

}
.header__logo {
    background-image: url(../images/icons/Logo.png);
    width: 123px;
    height: 73px;
    margin: 15px 0;
}
.header__list {
    display: flex;
    gap: 70px;
}
.header__burger{
    width: 0px;
}
main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}



.billboard {
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    background-image: url(../images/bg-images/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-sizing: border-box;

    display: flex;
    align-items: end;
}
.billboard .container{
    margin-bottom: 100px;
}

.billboard__h1 {
    font-weight: 400;
    font-size: 54px;
    line-height: 70px;
    width: 619px;
    margin-bottom: 30px;
}
.billboard__h1_orange {
    color: #F4B22F;
    font-weight: 700;
    font-size: inherit !important;
}
.billboard__h2 {
    font-size: 32px;
    line-height: 41px;
    width: 860px;
    margin-bottom: 80px;
}
.billboard .subscribe-button {
    font-size: 32px;
    line-height: 41px;
    
    padding: 30px 30px;
}
.billboard__contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
}
.billboard__contacts-header {
    font-size: 24px;
    line-height: 31px;
}
.billboard__contacts-group {
    display: flex;
    gap: 85px;
}
.billboard__contacts-item {
    display: flex; 
    gap: 10px;
    align-items: center;
}
.billboard__icon {
    height: 16px;
}
.billboard__contacts-text {
    font-size: 18px;
    line-height: 23px;
    text-decoration: underline;
}
tbody>tr{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.block-header{
    width: 100%;
    max-width: 614px;
    display: flex;
    justify-content: space-between;
    
}
.block-header h3{
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    font-weight: 400;
}
.block-header h4{
    line-height: 23px;
    text-align: center;
    font-weight: 400;
}
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}



.icon_rotate{
    rotate: 180deg;
}
.services__btn-group {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.services__btn {
    padding: 15px 70px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    border-radius: 15px !important;
    border: 1px solid #F4B22F !important;
}
.female-table{
    display: table;
}
.female-table{
    display: none;
}
.services__th-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.services__th-row>*{
    flex: 1 30%;
}
.services__tbody{
    display: flex;
    gap: 20px;
}
.services__column-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}
.services__cell {
    display: flex;
    flex-direction: column;
}
.services__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}
.services__description {
    font-size: 18px;
    line-height: 23px;
}
.services__cost {
    text-align: right;
    margin-top: 5px;
}



.image-line {
    width: 100%;
    height: 150px;
    background-image: url(../images/bg-images/bg-line.png);
}



.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;

    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.gallery__content {
    display: flex;
    gap: 28px;
    width: 980px;
    height: 980px;
}
.gallery__column {
    display: grid;
    gap: 28px;
    grid-template-columns: 224px 224px;
    grid-template-rows: 224px 224px 224px 224px;
    grid-template-areas:
    "A B"
    "A C"
    "D C"
    "E E";
}
.gallery__image {
    filter:brightness(70%);
    border-radius: 20px;

    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.gallery__image1 {
    grid-area: A;
}
.gallery__image2 {
    grid-area: B;
}
.gallery__image3 {
    grid-area: C;
}
.gallery__image4 {
    grid-area: D;
}
.gallery__image5 {
    grid-area: E;
}
.gallery__column:nth-child(2){
    grid-template-areas:
    "A A"
    "B C"
    "D C"
    "D E";
} 


.staff {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    max-width: 788px;
    width: 100%;
}
.staff_group {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}
.staff_card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.staff_img {
    border: 2px solid #F4B22F;
    border-radius: 20px;
    width: 350px;
    height: 400px;
    
    box-sizing: border-box;
}
.staff_name {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
}
.staff_post {
    color: #F4B22F;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}

.comments {
    width: 100%;
    height: 700px;
    background-image: url(../images/bg-images/rate-bg.jpg);
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.comments__hgroup {
    margin-top: 140px;
    margin-bottom: 140px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.comments__header {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
}
.comments__subheader {
    font-size: 18px;
    line-height: 23px;
}
.comments__group {
    display: flex;
    gap: 115px;
    width: 100%;
    max-width: 100vw;
    
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.comments__group::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.comments__card {
    flex-shrink: 0;
    box-sizing: border-box;
    background: #0F0F0F;
    border-radius: 20px;
    padding: 30px 65px;

    transition: transform 0.1s ease;
    
    white-space:normal;
}
.comments__icons-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}
.comments_user-avatar {
    width: 80px;
    height: 80px;
    background-color: #E1E1E1;
    border-radius: 100px;
}
.comments__star-group {
    display: flex;
    gap: 5px;
}
.comments__blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    max-width: 300px;
}
.comments__quote {
    text-align:justify;
    height: 125px;
}
.comments__quote::before{
    content: '“'
}
.comments__quote::after{
    content: '”';
}
.comments__username {
    color: #F4B22F;
    font-style: italic;
}



.contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 40px; 
}
.contacts__info-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts__social-media {
    display: flex;
    flex-direction: column;
}
.contacts__header {
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 25px;
}
.contacts__map{
    height:550px
}
.social-media__group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social-media__line {
    display: flex;
    gap: 5px;
    font-weight: 400;
}
.icon-wrap {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media__text {
    display: block;
    line-height: 23px;
}
.social-media__line span{
    font-size: 18px;
}
.schedule__days-group {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 18px 18px 18px 18px;
    gap: 10px 20px;
    grid-auto-flow: column;
    
}
.schedule__day {
    display: flex;
    justify-content: space-between;
    height:fit-content
}
.schedule__day *{
    line-height: 23px;
    height: 23px;
    display: block;
}
.schedule__day-name {
    width: 24px;
}
.contacts .subscribe-button{
    font-size: 20px;
    line-height: 26px;
    padding: 18px 25px;
}



footer{
    display: flex;
    justify-content: space-between;

    margin-top: 80px;
    padding: 60px 0px;
    background-color: #0F0F0F;
    
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}
.footer__nav {
    gap: 25px;
}
.footer__nav-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}
.footer__contacts {
    gap: 20px;
}
.footer__contacts-item {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #CCCCCC;
}
.footer__contacts-text {
    display: inline;
}
.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__menu-item {
    color: #555555;
    width: 169px;
    text-align: left;
}
footer nav, footer section{ 
    display: flex;
    flex-direction: column;
}



.modals {
    position: fixed;
    display: none;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.modals>*{
    position: relative;
    color: #FFFFFF;
}
.modals__overlay {
    background-color: #1A1A1A;
    opacity: 100%;
    height: 100%;
    right: 0;
    max-width: 520px;
    margin-left: auto;
}
.modals__overlay > *{
    padding: 0 20px;
    box-sizing: border-box;
}
.modals__main-modal {
    height: 100%;
}
.modals__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

}
.modals__icon:hover {
    cursor: pointer;
}
.modals__header-text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}
.main-modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.modals__choose-text{
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 28px;
}
.modals__btn-text {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}
.modals__btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 100%;
    max-width: 280px;
}
.modals__button {
    max-width: 280px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    background-color: transparent;
    color: #FFFFFF;

    display: flex;
    gap: 10px;
    align-items: center;

    border: 1px solid #F4B22F;
    border-radius: 15px;
}
.modals__button:hover{
    cursor: pointer;
    border: 2px solid #F4B22F;
}

.modals__choose-barber {
    display: none;
}

.choose-barber__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 100vh;
    overflow: scroll;
}
.choose-barber__content::-webkit-scrollbar{
    width: 0px;
}

.choose-barber__card {
    border: 1px solid #F4B22F;
    border-radius: 15px;

    box-sizing: border-box;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.choose-barber__card:last-child{
    margin-bottom: 100px;
}
.choose-barber__info {
    display: flex;
    gap: 10px;
}
.choose-barber__avatar {
    width: 50px;
    height: 50px;
    background-color: #E1E1E1;
    border-radius: 50px;
}
.choose-barber__wrap {
    display: flex;
    flex-direction: column;
}
.choose-barber__position {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #E1E1E1;
}
.choose-barber__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}
.choose-barber__near-date {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #E1E1E1;
}
.choose-barber__time-group {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    justify-content: space-between;
    row-gap: 20px;
    
}
.choose-barber__time-btn {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;

    border: 1px solid rgba(225, 225, 225, 0.1);
    border-radius: 59px;
}

.modals__choose-date{
    display: none;
    max-height: 100vh;
}
.choose-date__days-slider {
    margin-top: 30px;
}
.choose-date__month-list {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.choose-date__month-item {
    font-family: 'PT Sans';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.choose-date__month-item:nth-child(2){
    color: #E1E1E1;
    position: absolute;
    right: 0;
}

.choose-date__day-list {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;

    overflow-x: scroll;
}
.choose-date__day-list::-webkit-scrollbar{
    height: 0;
}
.choose-date__day {
    width: 30px;
}
.choose-date__day * {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    display: block;
    width: 100%;
    text-align: center;
}
.choose-date__number {
    color: #1A1A1A;
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none
}

.choose-date__time-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}
.choose-date__time-list > *{
    border: 1px solid #F4B22F;
    border-radius: 15px;
    padding: 20px 10px;
}
.time-list__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.time-list__wrap {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    justify-content: space-between;
    row-gap: 20px;
}
.time-list__item {
    text-align: center;
    border: 1px solid #555555;
    border-radius: 20px;

    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}


.modals__choose-service{
    display: none;
}
.modals__choose-service .services__tbody{
    flex-direction: column;

    height: 100vh;
    overflow: scroll;
}
.modals__sub-menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 40px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.choose-service__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    width: 100%;
    color: #FFFFFF !important;
    padding: 10px 0;
}
.table-caption{
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: left;
    margin-bottom: 10px;
}
.modals__choose-service .services__column-name {
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: -10px;
}
.modals__choose-service .services__cell {
    color: #E1E1E1;
    border: 1px solid #F4B22F;
    border-radius: 15px;
    padding: 20px 15px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modals__choose-service .services__column:last-child{
    margin-bottom: 200px;
}
.modals__choose-service .services__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}
.modals__choose-service .services__cost {
    color: #FFFFFF;
    line-height: 23px;
    text-align: left;
}



@media (max-width: 1580px) {
    .container{
        padding: 0 20px;
        box-sizing: border-box;
    }
    .billboard .container{
        margin-bottom: 20px;
    }
}

@media (max-width: 1340px) {
    main{
        gap: 40px;
    }
    .billboard__h1{
        width: 527px;
        font-size: 46px;
        line-height: 60px;
    }
    .billboard__h2{
        width: 559px;
        margin-bottom: 50px;
    }
    .billboard__contacts{
        margin-top: 40px;
        gap: 20px;
    }
    .contacts {
        flex-direction: column;
    }
    .contacts__info-column{
        flex-direction: row-reverse;
        margin-bottom: 40px;
    }
    .contacts .subscribe-button{
        height: 62px;
    }
    .social-media__group{
        gap: 10px;
    }
    .contacts__map{
        display: flex;
        justify-content: center;
    }
    .contacts__map *{
        width: 100%;
    }

    .staff{
        gap: 40px;
    }
}

@media (max-width:1024px){
    .header__burger{
        width:fit-content;
    }
    .header__list{
        display: none;
    }
    .gallery__content{
        width: 100%;
        height: 660px;
        justify-content: center;
        gap: 20px;
    }
    .gallery__column{
        grid-template-columns: 150px 150px;
        grid-template-rows: 150px 150px 150px 150px;
        gap: 20px;
    }
    .staff{
        max-width: 660px;
    }
    .staff_group{
        gap: 40px;
    }
    .staff_img{
        width: 290px;
        height: 332px;
        
    }
}

@media (max-width: 700px){
    
    .billboard .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .billboard .billboard__contacts{
        width: 100%;
    }
    .billboard__contacts-group{
        justify-content: space-between;;
    }

    .gallery__column{
        grid-template-columns: 132px 132px;
        grid-template-rows: 132px 132px 132px 132px;
        gap: 20px;
    }
    .staff_group{
        flex-direction: column;
    }
    .staff_card{
        align-items: center;
    }
    h3,h5{
        font-size: 18px
    }
    .services__tbody{
        flex-direction: column;
    }
    .services__btn-group{
        width: 100%;
        gap: 20px;
        justify-content: center;
    }
    .services__btn{
        padding: 10px 30px;
    }
    .services__description{
        text-align:justify;
    }
    .contacts .subscribe-button{
        display: none;
    }
    .contacts__map{
        height: 100%;
        aspect-ratio: 1/1;
    }
    footer .footer__logo-link{
        display: none;
    }

}

@media (max-width:600px){

    .billboard .container{
        justify-content: center;
    }
    .billboard__h1,.billboard__h2{
        width: 100%;
        text-align: center;
    }
    .billboard__h1{
        font-size: 36px;
    }
    .billboard__h2{
        font-size: 24px;
    }
    .gallery__content{
        flex-direction: column;
        height: fit-content;
        align-items: center;
       
    }
    .gallery__column:nth-child(2){
        grid-template-areas:
        "A B"
        "A C"
        "D C"
        "E E";
        height: fit-content;
    }
    .schedule__days-group {
        display: grid;
        grid-template-columns: 120px;
        grid-template-rows: 18px 18px 18px 18px 18px 18px 18px;
    }
    .contacts__header{
        font-size: 24px !important;
        margin-bottom: 15px;
    }
    .social-media__group{
        max-width: 180px;
    }
}

@media (max-width:500px){
    .billboard{
        background-position-x: 70%;
    }
    .billboard .subscribe-button{
        padding: 20px 35px;
        border: 1px solid #F4B22F;
        font-size: 18px;
        line-height: 23px;
    }
    .header__logo{
        width: 100px;
        height: 60px;
        margin: 5px 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .comments__subheader{
        text-align: center;
    }
    .services__name, .staff_post, .schedule__day-name, .schedule__time, .billboard__contacts-header, .footer__contacts-text {
        font-size: 18px !important;
    }
    .staff_name{
        font-size: 24px !important;
    }
}

@media (max-width:425px){
    .billboard{
        max-height: 600px;
    }
    .billboard__h1{
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 15px;
    }
    .billboard__h2{
        font-size: 14px !important;
        line-height: 18px !important;
        margin-bottom: 20px;
    }
    hgroup > h3{
        font-size: 18px !important;
        line-height: 23px !important;
    }
    hgroup > h4{
        font-size: 14px !important;
        line-height: 18px !important;
    }
    .comments__header{
        font-size: 24px;
        line-height: 31px;
    }
    .comments__subheader{
        text-align: center;
    }
    .block-header img{
        width: 36px;
    }

    .comments__card{
        padding: 30px 20px;
    }
    .comments_user-avatar{
        width: 50px;
        height: 50px;
    }
    .comments__blockquote{
        max-width: 280px;
    }
    .comments__quote{
        font-size: 14px;
        line-height: 18px;
        height: 100px;
    }

}
@media (max-width:400px){
    
    .contacts__social-media{
        width: fit-content;
    }
    .social-media__text{
        max-width: 150px;
    }

}
@media (max-width:375px){
    .billboard__contacts-group{
        gap: 20px;
    }
    .contacts .contacts__header{
        font-size: 18px !important;
        line-height: 23px;
    }
    .schedule__day{
        justify-content: start;
    }
    .schedule__day *{
        font-size: 14px !important;
        line-height: 18px !important;
    }
    .social-media__group{
        max-width: 130px;
    }
    .social-media__text{
        font-size: 14px !important;
    }

    .modals__button{
        gap: 24px;
    }
    .modals__button .modals__btn-text{
        font-size: 18px;
    }
    .modals .modals__header-text{
        font-size: 18px;
    }
    .modals .modals__choose-text{
        font-size: 18px;
    }
    .choose-barber__wrap{
        justify-content: space-between;
        row-gap: 15px;
    }
    .choose-barber__wrap .choose-barber__position{
        font-size: 14px;
        line-height: 18px;
    }
    .choose-barber__wrap .choose-barber__name{
        font-size: 18px;
        line-height: 23px;
    }
    .choose-barber__avatar{
        width: 44px;
        height: 44px;
    }
    .choose-barber__card{
        gap: 15px;
        padding: 15px;
    }
    .choose-barber__time-group{
        row-gap: 10px;
    }
    .choose-barber__card > .choose-barber__near-date, .choose-barber__time-btn{
        font-size: 14px;
        line-height: 18px;
    }

    .choose-date__days-slider{
        margin-top: 20px;
    }
    .choose-date__day-list{
        margin-bottom: 30px;
    }
}